extends layout

block content
  .banner
    .row
      .col-lg-6
        h2 Keep yourself informed
    .row
      .col-lg-6
        h3 about the service outages in your area
    .row
      .col-lg-6
        a.btn.btn-success(href="#") Sign up now

  .intro
    .row
      .col-lg-12
        .intro-container
          h4.intro-part-1 Powercuts and water outages are never a pleasant experience
    .row
      .col-lg-12
        h3 Wouldn't it be great
        h4.intro-part-2 if you got to know about these outages in advance!

  .steps
    .row
      .col-lg-12
        h3 Here's how
    .row
      .col-lg-3
        .step-icon.step-1
        .step-text
          p The utility company announces an outage
      .col-lg-1.step-arrows
      .col-lg-3
        .step-icon.step-2
        .step-text
          p Outage Informer gets the announcement and broadcasts it to the subscribers
      .col-lg-1.step-arrows
      .col-lg-3
        .step-icon.step-3
        .step-text
          p The subscribers get notified about the outage well in advance

  .info
    .row
      .col-lg-6
        h3 What's in it for us
        p Well, nothing, except for
        ul
          li A sense of building something that can help alleviatethe pain faced by billions in developing nations
          li Hopefully improve the services offered by utility companies to its consumers
          li Learn how to build open source software in a collaborative atmosphere
      .col-lg-6
        h3 Tell us what you think
        p As a consumer of utility services, would you be interested in subscribing to this service?
        .opinion-form
          .row
            .col-lg-12.col-md-12
              input(id="feedbackYes", type="radio", name="feedback")
              label(for="feedbackYes") Oh yeah!
          .row
            .col-lg-12.col-md-12
              input(id="feedbackNo", type="radio", name="feedback")
              label(for="feedbackNo") Nope, it's not for me.
        .row
          .col-lg-12.col-md-12
            input.btn.btn-primary(type="submit", value="SUBMIT")

  .sign-up
    .row
      .col-lg-7.col-md-9
        h3.sign-up-header When can I get my paws on it?
        p.sign-up-part-1 We have just started building this and would appreciate all the hands we can get. If you're interested in helping out, then get yourself involved.
        p.sign-up-part-2 Let us know your email address and we'll inform you whenever we launch
        .subscribe-form
          input(type="text", name="", placeholder="abc@example.com")
          input.btn.btn-primary(type="submit", value="NOTIFY ME")
