doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    header.navbar.navbar-static-top#top(role="banner")
      .container
        .navbar-header
          h1.navbar-brand.logo(href="/") OUTAGE INFORMER
    .bodyBackground
      .container
        block content
    script(src="/javascripts/bootstrap.min.js")