doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    header
      .container
        .row
          .col-lg-10.col-md-9
            h1.logo
              a(href="#") OUTAGE INFORMER
          .col-lg-2.col-md-3
            .share-buttons
              a(href="http://www.facebook.com/sharer.php?u=http://outage-informer.herokuapp.com/")
                img(src="http://www.simplesharebuttons.com/images/somacro/facebook.png", alt="share on facebook")

              a(href="http://twitter.com/share?url=http://outage-informer.herokuapp.com/")
                img(src="http://www.simplesharebuttons.com/images/somacro/twitter.png", alt="share on twitter")

              a(href="https://plus.google.com/share?url=http://outage-informer.herokuapp.com/")
                img(src="http://www.simplesharebuttons.com/images/somacro/google.png", alt="share on google")

              a(href="http://www.linkedin.com/shareArticle?mini=true&url=http://outage-informer.herokuapp.com")
                img(src="http://www.simplesharebuttons.com/images/somacro/linkedin.png", alt="Email it")

            //ul
            //  li
                a(href="https://www.facebook.com/sharer/sharer.php?u=example.org") fb
    .container
      block content
    footer
      .container
        .row
          .col-lg-3
            .logo-footer
          .col-lg-6

    script(src="/javascripts/jquery-1.11.0.min.js")
    script(src="/javascripts/bootstrap.min.js")