extends layout

block content
    h1.
        Thanks for your response!!!!

    .sign-up
        .row
          .col-lg-7.col-md-9
            h3 When can I get my paws on it?
            p We have just started building this and would appreciate all the hands we can get. If you're interested in helping out, then get yoyrself involved.
            p Let us know your email address and we'll inform you whenever we launch
            .subscribe-form
              input(type="text", name="", placeholder="abc@example.com")
              input.btn.btn-primary(type="submit", value="NNTOFY ME")
