.basicInfo{
 background-color: rgba(156,156,156,0.1);
  padding: 152px 0 125px 0;
}
.logo{
  /*font-family: "HelveticaNeueLTStd-HvCn";*/
  font-size: 36px;
  color: #7AC0A8;
  text-transform: uppercase;
}
.bodyBackground{
  background: url('../images/background.jpg');
  background-size: cover;
  min-height: 855px;  
  margin-bottom: 0;
  overflow: hidden;
}
.inner{
  /*background-size: cover;*/
  width:97%;
  margin-top: 10%;
  background: url('../images/inner.png');
  border-radius: 7px;
}
.white{
  color:#F6f6f6;
}
.center{
  text-align: center;
}
.underline{
  text-decoration: underline;
}
.gradientText{
  background: -webkit-linear-gradient(#FFFFFF, #6FFFE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}